<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="../assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<nav class="navbar-main">
	<div class="navbar-item" id="navbar-logo">Logo</div>
	<a href="../pages/home.html">
		<div class="navbar-item" id="homeLink">Home</div>
	</a>
	<a href="../pages/employee.html">
		<div class="navbar-item" id="employeeLink">Employee</div>
	</a>
	<a href="../pages/item.html">
		<div class="navbar-item" id="itemLink">Items</div>
	</a>
	<a href="../pages/assignment.html">
		<div class="navbar-item" id="assignmentLink">Assignments</div>
	</a>
	<div class="navbar-item" id="navbar-profile" data-toggle="modal" data-target="#modalProfile">ProfileIMG</div>
</nav>

<div class="modal fade" tabindex="-1" role="dialog" id="modalProfile">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Profile</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Modal body text goes here.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>