<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../assets/styles/style.css">
<script type="text/javascript" src="../assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<nav class="navbar-main">
		<a href=""><div class="navbar-item" id="navbar-logo">Logo</div></a>
		<a href=""><div class="navbar-item">Home</div></a>
		<a href="employee.html"><div class="navbar-item">Employee</div></a>
		<a href=""><div class="navbar-item">Items</div></a>
		<a href=""><div class="navbar-item">Assignments</div></a>
		<a href=""><div class="navbar-item">Request</div></a>
		<div class="navbar-item" id="navbar-profile" data-toggle="modal" data-target="#modal-profile">ProfileIMG</div>
</nav>

<!-- <div class="modal" id="modal-profile">
	<div class="modal-content" id="modal-profile-content">
		<img src="">
		@Username
		Email.test.com
		<button>Logout</button>
	</div>
</div> -->

<div class="modal fade" id="modal-profile">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body" id="modal-profile-content">
				<img src="">
				@Username
				Email.test.com
				<button>Logout</button>
			</div>
		</div>
	</div>
</div>