<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="../assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<input type="image" src="../assets/images/icons/requestIcon.png" class="header-button float-right mr-1" id="btnRequest" style="display:none;">
<input type="image" src="../assets/images/icons/deleteIcon.png" class="header-button float-right mr-1" id="btnDelete">
<input type="image" src="../assets/images/icons/editIcon.png" class="header-button float-right mr-1" id="btnEdit">
<input type="image" src="../assets/images/icons/addIcon.png" class="header-button float-right mr-1" id="btnAdd">