<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../assets/styles/style.css">
<script type="text/javascript" src="../assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<input type="image" src="../assets/images/deleteIcon.png" class="header-button float-right mr-1" id="btnDelete">
<input type="image" src="../assets/images/editIcon.png" class="header-button float-right mr-1" id="btnEdit">
<input type="image" src="../assets/images/addIcon.png" class="header-button float-right mr-1" id="btnAdd">