:root{
	--font-size: 16em;
	--primary-color: #00D6FF;
	--secondary-color: #ffffff;
	padding: 0px;
}

html, body{
    margin: 0;
	padding: 0;
	background: #000;
	background: -webkit-linear-gradient(141deg, #9fb8ad, #00D6FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(141deg, #9fb8ad, #00D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
}

*{
	table-layout: fixed;
	margin: 0px;
	padding: 0px;
}


/*---------Body_Div-----------------*/
.page-body{
	display: flex;
	justify-content: space-between;
}