/*---------Employee_Content---------*/
.content{
	flex-wrap: wrap;
	float: right;
	display: inline-flex;
	width: 85%;
	justify-content: center;
	margin-right: 1em;
	margin-top: 1em;
}

.item-table{
	padding: auto;
	display: table;
	border: 1px solid #E5E9F2;
	height: 35em;
	width: 100%;
	border-collapse: collapse;
}

.item-table th, .item-table td{
	padding-left: 1em;
	padding-bottom: 1em;
	border: 1px solid black;
}

.item-table tr:nth-child(odd){
	background-color: #F9FAFC;
}

.item-table tr:hover{
	background-color: #DDDDDD;
}