:root{
	--font-size: 16em;
	--primary-color: #00D6FF;
	--secondary-color: #ffffff;
	padding: 0px;
}

*{
	table-layout: fixed;
	/*height: 100%;*/
	margin: 0px;
	padding: 0px;
}


/*---------Body_Div-----------------*/
.page-body{
	display: flex;
	justify-content: space-between;
}